<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>pyInvoice</title>
		<meta name="author" content="Łukasz Szczęsny">
		<link href="{{ STATIC_URL }}/css/bootstrap.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}/css/style.css?1" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{% block js %}{% endblock %}
		{% block css %}{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" href="{% url companies %}">pyInvoice</a>
				</div>
			</div>
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
