{% extends "base.html" %}                                                                                                                                                                        
                                                                                                                                                                                                       
{% block content %}

<ul>
{% for company in companies %}
	<li><a href="{% url pyinvoice.views.invoices company.id %}">{{ company.name }}</a>
{% endfor %}
</ul>

{% endblock %}                                                                                                                                                                                         
