{% extends "base.html" %}                                                                                                                                                                        
                                                                                                                                                                                                       
{% block content %}

<dl class="dl-horizontal">
	<dt>Numer faktury</dt>
	<dd>{{ invoice.number }}</dd>
	<dt>Data pobrania</dt>
	<dd>{{ invoice.date }}</dd>
	<dt>Kwota</dt>
	<dd>{{ invoice.total_gross }}</dd>
	<dt>Dostępne pliki</dt>
	<dd>
		<ul class="unstyled">
		{% for document in invoice.document_set.all %}
			<li><a href="{{ document.document_file.url }}">{{ document.title }}</a></li>
		{% endfor %}
		</ul>
	</dd>
</dl>

{% endblock %}                                                                                                                                                                                         
